body {
  margin: 0;
  padding: 0;
  background-color: rgb(167, 189, 236);
  color: beige;
  text-align: center;
}

.menor {
  color: rgb(53, 5, 226);
}

.mayor {
  color: rgb(12, 129, 8);
}

button {
  margin: 0px 0.5rem;
}
